# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
**.venv/

# 打包相关
backend/dist/
backend/build/
backend/*.spec
backend/static/
release/
artifacts/

# PyInstaller
*.spec
.claude/
.ace-tool/



